
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('woff2'),
}
/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Inter;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --color-grey-900: #141414;
  --color-grey-800: #1f1f1f;
  --color-grey-700: #333333;
  --color-green: #c4f82a;
  --color-white: #ffffff;
}

main {
  height: 100vh;
  background-color: var(--color-grey-900);

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--color-grey-800);
  border-radius: 0.75em;

  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

@media screen and (min-width: 601px) {
  .card {
    width: 24em;
    padding: 2.5em;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 21em;
    padding: 1.5em;
  }
}

.card img {
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
}

.profile-info {
  display: inherit;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}

.user-name {
  color: var(--color-white);
  font-size: 1.5em;
  font-weight: 600;
  line-height: 150%;
}

.user-location {
  color: var(--color-green);
  font-size: 0.875em;
  font-weight: 700;
  line-height: 150%;
}

.job-description {
  color: var(--color-white);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 150%;
}

.action-container {
  width: 100%;
  display: inherit;
  flex-direction: column;
  gap: 1em;
}

.action-container button {
  all: unset;
  border-radius: 0.5em;
  height: 2.8em;
  background-color: #333333;
  display: inherit;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.action-container button:focus {
  border: var(--color-grey-800) solid 1px;
  transform: scale(0.99);
}

.action-container button span {
  color: var(--color-white);
  font-size: 0.875em;
  font-weight: 700;
  line-height: 150%;
}