
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('woff2');
}
/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --color-grey-900: #141414;
  --color-grey-800: #1f1f1f;
  --color-grey-700: #333333;
  --color-green: #c4f82a;
  --color-white: #ffffff;
}

main {
  height: 100vh;
  background-color: var(--color-grey-900);

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 21em;
  background-color: var(--color-grey-800);
  border-radius: 0.75em;
  padding: clamp(1.5em, 2vw + 1em, 2.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

@media screen and (min-width: 37.5em) {
  .card {
    min-width: 24em;
  }
}

.card img {
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}

.user-name {
  color: var(--color-white);
  font-size: 1.5em;
  font-weight: 600;
  line-height: 150%;
}

.user-location {
  color: var(--color-green);
  font-size: 0.875em;
  font-weight: 700;
  line-height: 150%;
}

.job-description {
  color: var(--color-white);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 150%;
}

.action-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.action-container button {
  all: unset;
  border-radius: 0.5em;
  height: 2.8em;
  background-color: var(--color-grey-700);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.15s ease;

  color: var(--color-white);
  font-size: 0.875em;
  font-weight: 700;
  line-height: 150%;
}

.action-container button:focus {
  border: var(--color-grey-800) solid 1px;
  transform: scale(0.99);
}

@medis (prefers-reduced-motion: reduce) {
  .action-container button {
    transition: none;
  }

  .action-container button:focus {
    transform: none;
  }
}